In [ ]:
# Creating user input that searches data and returns suggestion

In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
top200 = 'top200.pickle'

with open(top200, 'rb') as f:
    top200 = pickle.load(f)

In [3]:
songs = 'songs.pickle'

with open(songs, 'rb') as f:
    songs = pickle.load(f)

In [5]:
top200.head()

             title  clusters
0  Ella Baila Sola         0
1            Cupid         1
2          La Bebe         0
3        Un x100to         2
4          Flowers         3

In [4]:
songs.head()

                       id  prediction
0  4K09vJ27xCOreumtSuU6Ao           0
1  4pryE6cN2gFL1FVF5fYINl           1
2  7suB6D6uKX5DfPukdGaz0W           2
3  6jGAh1bFnXt1Muj9zeHveZ           3
4  1oERlssLrpssCAY6Yqqs6c           4

In [9]:
import requests
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials

In [11]:
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials

# Get user input
user_song = input("Enter a song name: ")

# Convert user input to lowercase
user_song_lower = user_song.lower()

# Convert titles in top200 dataframe to lowercase
top200_lower = top200['title'].str.lower()

# Check if the user song is in the top200 title column (case-insensitive)
if user_song_lower in top200_lower.values:
    # Get the cluster number for the user song
    cluster_number = top200.loc[top200_lower == user_song_lower, 'clusters'].iloc[0]

    # Find a song in songs data with the same cluster number
    matching_song = songs[songs['prediction'] == cluster_number].sample(1)

    # Get the song's ID
    song_id = matching_song['id'].values[0]

    # Set up the Spotify API client
    CLIENT_ID = '1daa9df0ddca4d54a96bcda5948d24f5'
    CLIENT_SECRET = '145ae80261a947829b53eb6615dd94e6'
    client_credentials_manager = SpotifyClientCredentials(client_id=CLIENT_ID, client_secret=CLIENT_SECRET)
    sp = spotipy.Spotify(client_credentials_manager=client_credentials_manager)

    # Query the Spotify API to get the track information
    track_info = sp.track(song_id)
    song_name = track_info['name']

    # Print the result
    print("This song is hot! Here is another one you may like:", song_name)
else:
    print("This is not a hot song, try again!")

This song is hot! Here is another one you may like: Scenic Route